
!/cmake-build-debug/
!/.gitee/
.idea/*
.idea/.gitignore
.idea/.name
.idea/gc-impl.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/gc_impl.dir/mark-sweep/
